<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <div id="operands">

    </div>
    <div id="operator">
        <div class="box operator" draggable="true" value="+">
            <span>+</span>
            <span class="close" onclick="closeEvent(this)">❌</span>
        </div>
        <div class="box operator" draggable="true" value="-">
            <span>-</span>
            <span class="close" onclick="closeEvent(this)">❌</span>
        </div>
        <div class="box operator" draggable="true" value="*">
            <span>*</span>
            <span class="close" onclick="closeEvent(this)">❌</span>
        </div>
        <div class="box operator" draggable="true" value="/">
            <span>/</span>
            <span class="close" onclick="closeEvent(this)">❌</span>
        </div>
        <div class="box operator" value="<" onclick="cardClick('<')">
            <span>
                < </span>
                    <span class="close" onclick="closeEvent(this)">❌</span>
        </div>
        <div class="box operator" value=">" onclick="cardClick('>')">
            <span>
                > </span>
            <span class="close" onclick="closeEvent(this)">❌</span>
        </div>
        <div class="box operator" draggable="true" onclick="rhsClick()">
            <span>RHS</span>
        </div>
    </div>
    <div id="result-div">
    </div>

    <button onclick="evaluate1()">Evaluate</button>



</body>
<script src="/index.js"></script>

</html>